body{
    background-image: url(../img/cielo.jpg);
    background-attachment: fixed;
}

#logo{
    background-color: #1f87c4;
}

#menu ul li:hover{
    background-color: #1f87c4;
}

.read-more{
    background-color: #1f87c4;
}

form input[type="submit"]{
    background-color: #1f87c4;
}